<section class="content">
  <div class="content-wrap">
    <div class="part">

      <div class="content-title">
        <h2 class="text"><a id="about"></a>Что получает бизнес?</h2>
      </div>

      <div class="about-text">
        <p>Правильный подход к использованию данных позволяет оперативно решать задачи и получать нужный
          бизнес-эффект: новые точки роста, оптимизированные бизнес-процессы и сокращение расходов.</p>
        <p>Новые цифровые продукты и высокое качество услуг сделают Вас в глазах клиента надежным и современным
          партнером.</p>
      </div>
    </div>
  </div>
</section>
