<section class="content" xmlns="http://www.w3.org/1999/html" xmlns:tel="http://www.w3.org/1999/xhtml">
  <div class="content-wrap">

    <div class="content-title">
      <h2 class="text"><a id="contacts"></a>Контакты</h2>
    </div>

    <div class="row row1">
      <div class="col-6 col-sm-6 open-hours">
        <p class="text1"><strong>пн-пт<br/>9:00 - 18:00</strong></p>
      </div>
      <div class="col-3 text1 special"><strong>info@proq.software</strong></div>
      <div class="col-3 text1 special"><strong>
        <a href="tel:+79259917269" class="disable-decor">+7 925 991 72 69</a>
      </strong></div>
      <div class="col-6 col-sm-6 for-lg">
        <p class="text1">
          <strong>info@proq.software
            <br/>
            <a href="tel:+79259917269" class="disable-decor">+7 925 991 72 69</a>
          </strong>
        </p>
      </div>
    </div>

    <div class="row row2">
      <div class="col-6 email">
        <p class="text1"><strong>Город Москва</strong><br/>Ангелов пер., 6, этаж 1</p>
      </div>
      <div class="col-6 social-network">
        <div class="socials-wrap row">
          <li class="col-1 socials">
            <a class="socials_link" href="https://wa.me/79259917269?text=Привет!%20У%20меня%20есть%20интересный%20проект%20по%20анализу%20данных:%20">
              <img class="img2" src="../../assets/whatsapp.svg">
            </a>
          </li>

          <li class="col-1 socials">
            <a class="socials_link" href="https://telegram.me/KiraLife17">
              <img class="img2" src="../../assets/telegram.svg">
            </a>
          </li>

          <li class="col-1 socials">
            <a class="socials_link" href="https://www.instagram.com/proq.software/">
              <img class="img2" src="../../assets/instagram.svg">
            </a>
          </li>

        </div>
      </div>
    </div>

  </div>
</section>
