<section class="content" xmlns="http://www.w3.org/1999/html">
  <div class="content-wrap">

    <div class="content-title">
      <h2 class="text"><a id="contacts"></a>Контакты</h2>
    </div>

    <div class="row row1">
      <div class="col-6 col-sm-6 open-hours">
        <p class="text1"><strong>пн-пт<br/>9:00 - 21:00</strong></p>
      </div>
      <div class="col-3 text1 special"><strong>email@address.ru</strong></div>
      <div class="col-3 text1 special"><strong>+7 999 999 99 99</strong></div>
      <div class="col-6 col-sm-6 for-lg">
        <p class="text1"><strong>email@address.ru<br/>+7 999 999 99 99</strong></p>
      </div>
    </div>

    <div class="row row2">
      <div class="col-6 email">
        <p class="text1"><strong>Город</strong><br/>Улица, 1, корпус 1, этаж 1</p>
      </div>
      <div class="col-6 social-network">
        <div class="socials-wrap row">
          <li class="col-1 socials">
            <a class="socials_link" href="#">
              <img class="img2" src="../../assets/whatsapp.svg">
            </a>
          </li>

          <li class="col-1 socials">
            <a class="socials_link" href="#">
              <img class="img2" src="../../assets/telegram.svg">
            </a>
          </li>

          <li class="col-1 socials">
            <a class="socials_link" href="#">
              <img class="img2" src="../../assets/vk.svg">
            </a>
          </li>

          <li class="col-1 socials">
            <a class="socials_link" href="#">
              <img class="img2" src="../../assets/facebook.svg">
            </a>
          </li>

          <li class="col-1 socials">
            <a class="socials_link" href="#">
              <img class="img2" src="../../assets/instagram.svg">
            </a>
          </li>

        </div>
      </div>
    </div>

  </div>
</section>
