<div class="header_line">
  <div class="header_top_wrap">
    <nav class="navbar navbar-light bg-light" role="navigation">
      <div class="container-fluid row">
        <button class="navbar-toggler col-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="col-xl-5 col-lg-6 col-md-7 col-sm-8 col-10 two-items">
        <li class="nav-item number-wrap">
          <a class="nav-link number" href="tel:+79259917269">+7 925 991 72 69</a>
        </li>

          <button type="button" class="btn btn-outline-dark btn-text"><a href="#form">обсудить проект</a></button>
      </div>

        <div class="offcanvas offcanvas-start" data-bs-backdrop="false" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            <div class="col-xl-5 col-lg-9 col-md-8 col-sm-10 col-10 two-items">
              <li class="nav-item number-wrap">
                <a class="nav-link number" href="tel:+79259917269">+7 925 991 72 69</a>
              </li>

              <button type="button" class="btn btn-outline-dark btn-text">обсудить проект</button>
            </div>
          </div>
          <div class="offcanvas-body">

            <ul class="navbar-nav justify-content-end">
              <li class="nav-item menu-item">
                <a class="nav-link text" href="#about">Как мы работаем</a>
              </li>
              <li class="nav-item menu-item">
                <a class="nav-link text" href="#advantages">Преимущества</a>
              </li>
              <li class="nav-item menu-item">
                <a class="nav-link text" href="#services">Услуги</a>
              </li>
              <li class="nav-item menu-item">
                <a class="nav-link text" href="#contacts">Контакты</a>
              </li>

              <div class="socials-wrap">
                <li class="socials">
                  <a class="socials-link" href="https://wa.me/79259917269?text=Привет!%20У%20меня%20есть%20интересный%20проект%20по%20анализу%20данных:%20">
                    <img src="../../assets/whatsapp.svg">
                  </a>
                </li>

                <li class="socials">
                  <a class="socials-link" href="https://telegram.me/KiraLife17">
                    <img src="../../assets/telegram.svg">
                  </a>
                </li>

                <li class="socials">
                  <a class="socials-link" href="https://www.instagram.com/proq.software/">
                    <img src="../../assets/instagram.svg">
                  </a>
                </li>

              </div>
            </ul>


          </div>

        </div>
      </div>
    </nav>
  </div>
</div>









<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar w/ text</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#about">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#advantages">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <span class="navbar-text">
      Navbar text with an inline element
    </span>
  </div>
</nav>-->


<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Hidden brand</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>-->


<!--<script>
  $(document).on('click','.navbar-collapse.in',function(e) {
    if( $(e.target).is('a') ) {
      $(this).collapse('hide');
    }
  });
</script>-->
