<section class="content">
  <div class="content-wrap">
    <div class="part">

      <!--<div class="content-title">
        <h2 class="text">Технологии</h2>
        <h2 class="texteee">Технологии</h2>
        <div class="sptext">
          <h2 class="texteee">Т</h2>
          <h2 class="text">ехнологии</h2>
        </div>
      </div>-->

      <div class="content-title">
        <h2 class="textT">Т</h2>
        <h2 class="text">ехнологии</h2>
      </div>

      <div class="row">
        <div class="tech-wrap">
          <div class="tech">Go</div>
          <div class="tech">Python</div>
          <div class="tech">Java</div>
          <div class="tech">SQL</div>
          <div class="tech">ElasticSearch</div>
          <div class="tech">Apache Kafka</div>
          <div class="tech">Keras</div>
          <div class="tech">Apache Airflow</div>
          <div class="tech">Tensorflow</div>
          <div class="tech">Docker</div>
        </div>
      </div>
    </div>
  </div>
</section>
