<section class="content">
  <div class="content-wrap">
    <div class="part row">
      <div class="col-12 col-sm-6 connection-text">
        <div class="content-title">
          <h2 class="text">Общение без границ</h2>
        </div>

        <div class="text-about-wrap">
          <p>Не тратьте время на составление официальных писем - мы доступны в любых мессенджерах.
            Просто напишите нам.</p>
        </div>

        <div class="socials-wrap row">
          <li class="col-1 col-sm-2 col-md-2 col-lg-1 col-xl-1 socials">
            <a class="socials_link" href="https://wa.me/79259917269?text=Привет!%20У%20меня%20есть%20интересный%20проект%20по%20анализу%20данных:%20">
              <img class="img2" src="../../assets/whatsapp.svg">
            </a>
          </li>

          <li class="col-1 col-sm-2 col-md-2 col-lg-1 col-xl-1 socials">
            <a class="socials_link" href="https://telegram.me/KiraLife17">
              <img class="img2" src="../../assets/telegram.svg">
            </a>
          </li>

          <li class="col-1 col-sm-2 col-md-2 col-lg-1 col-xl-1 socials">
            <a class="socials_link" href="https://www.instagram.com/proq.software/">
              <img class="img2" src="../../assets/instagram.svg">
            </a>
          </li>

        </div>
      </div>

      <div class="col-12 col-sm-6 img1-wrap">
        <img class="img1" src="../../assets/screen1.png">
      </div>



    </div>
  </div>
</section>
