<section class="content container-fluid">
  <div class="content-wrap">
    <div class="part">

      <div class="content-title">
        <h2 class="text"><a id="services"></a>Услуги</h2>
      </div>

      <div class="row">

        <div class="col-12 col-sm-12 col-md-12 col-xl-6">
          <div class="services-black">
            <img src="assets/figure1.svg" class="company_img">
            <span class="special-services-text special white-services-text services-text">
              <h3 class="left">Анализ и подготовка данных</h3>
              <div class="marker-p left"><p class="white-marker marker">01.</p><p>Проведение статистических исследований</p></div>
              <div class="marker-p left"><p class="white-marker marker">02.</p><p>Обработка и нормализация данных</p></div>
              <div class="marker-p left"><p class="white-marker marker">03.</p><p>Анализ и визуализация</p></div>
            </span>
          </div>
        </div>



        <div class="col-12 col-sm-12 col-md-12 col-xl-6">
          <span class="services-text">
              <h3 class="right">Сбор данных</h3>
            <div class="marker-p right"><p class="marker">01.</p><p>Создание отказоустойчивой и масштабируемой архитектуры</p></div>
              <div class="marker-p right"><p class="marker">02.</p><p>Сбор данных из открытых источников</p></div>
              <div class="marker-p right"><p class="marker">03.</p><p>Запросы к SQL / NoSQL базам данных</p></div>
              <div class="marker-p right"><p class="marker">04.</p><p>Обработка BigData</p></div>
              <div class="marker-p right"><p class="marker">05.</p><p>Организация ETL-процессов под ключ</p></div>
          </span>
        </div>
        <div class="w-100"></div>

        <div class="col-12 col-md-12 col-xl-6 gt-xl">
          <span class="services-text">
              <h3 class="left">Разметка данных для задач обработки естественного языка</h3>
              <p class="left">Классификация и анализ тональности текста, распознавание именованных сущностей,
                транскрипция и классификация аудио и видео</p>
            </span>
        </div>
        <div class="col-12 right-col col-md-12 col-xl-6 gt-xl">
          <div class="services-black-2">
            <img src="assets/figure2.svg" class="company_img">
            <span class="special-services-text special services-text padding-top2">
              <h3 class="right">Разметка данных для компьютерного зрения</h3>
              <p class="right">Решаем задачи по классификации изображений, семантической сегментации, распознаванию и
                обнаружению объектов, инстанс-сегментации и многие другие.</p>
            </span>
          </div>
        </div>

      <div class="lt-xl">
      <div class="col-12 right-col col-md-12 col-xl-6">
        <div class="services-black-2">
          <img src="assets/figure2.svg" class="company_img">
          <span class="special-services-text special services-text padding-top2">
              <h3 class="right">Разметка данных для компьютерного зрения</h3>
              <p class="right">Решаем задачи по классификации изображений, семантической сегментации, распознаванию и
                обнаружению объектов, инстанс-сегментации и многие другие.</p>
            </span>
        </div>
      </div>
      <div class="col-12 col-md-12 col-xl-6">
          <span class="services-text">
              <h3 class="left">Разметка данных для задач обработки естественного языка</h3>
              <p class="left">Классификация и анализ тональности текста, распознавание именованных сущностей,
                транскрипция и классификация аудио и видео</p>
            </span>
      </div>
    </div>

        <div class="w-100"></div>
        <div class="col-12 col-md-12 col-xl-6">
          <div class="services-black">
            <img src="assets/figure3.svg" class="company_img">
            <span class="special-services-text special services-text">
              <h3 class="left">Создание моделей машинного обучения</h3>
              <div class="marker-p left"><p class="marker">01.</p><p>Определение оптимального алгоритма</p></div>
              <div class="marker-p left"><p class="marker">02.</p><p>Планирование тестирования</p></div>
              <div class="marker-p left"><p class="marker">03.</p><p>Обучение модели</p></div>
              <div class="marker-p left"><p class="marker">04.</p><p>Оценка результатов</p></div>
            </span>
          </div>
        </div>
        <div class="col-12 col-md-12 col-xl-6">
          <span class="services-text">
              <h3 class="right">Внедрение</h3>
              <div class="marker-p right"><p class="marker">01.</p><p>Конфигурация CI/CD процессов</p></div>
              <div class="marker-p right"><p class="marker">02.</p><p>Интеграция решений в существующую инфраструктуру</p></div>
              <div class="marker-p right"><p class="marker">03.</p><p>Комплескный мониторинг</p></div>
              <div class="marker-p right"><p class="marker">04.</p><p>Проведение нагрузочного тестирования</p></div>
            </span>
        </div>
      </div>
    </div>
  </div>
</section>
