<section class="content">
  <div class="wrap">
    <div class="part">

      <div class="content-title">
        <h2 class="text">Раскройте потенциал своих данных</h2>
      </div>

      <div class="content-container">

        <div class="about-company">
          <div class="text-wrap">
            <p class="content-text">собираем, анализируем, создаем ценность</p>
            <p class="animated-text">ценность</p>
          </div>
        </div>
      </div>



        <div class="socials-wrap">
          <li class="socials">
            <a class="socials-link" href="#">
              <img src="../../assets/whatsapp.svg">
            </a>
          </li>

          <li class="socials">
            <a class="socials-link" href="#">
              <img src="../../assets/telegram.svg">
            </a>
          </li>

          <li class="socials">
            <a class="socials-link" href="#">
              <img src="../../assets/vk.svg">
            </a>
          </li>

          <li class="socials">
            <a class="socials-link" href="#">
              <img src="../../assets/facebook.svg">
            </a>
          </li>

          <li class="socials">
            <a class="socials-link" href="#">
              <img src="../../assets/instagram.svg">
            </a>
          </li>

        </div>

      </div>




    </div>
</section>
