.wrap{
  padding: 0 6%;
}
.content-title{
  max-width: 100%;
  min-width: 280px;
  margin-top: 15%;
  padding-bottom: 2%;
}

.text-wrap{
  display: flex;
}

.text{
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 90px;
  line-height: 100px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #212529;
  margin-bottom: 0;
}

.content-text{
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  letter-spacing: 0.1em;
  color: #212529;
  text-align: left;
  margin: auto 0;
  padding-right: .5%
}

.animated-text{
  width: 20ch;
  font-family: Courier New;
  /*font-family: monospace;*/
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 0.1em;
  margin: auto 0;
  vertical-align: baseline;
  color: rgba(219, 129, 97, 1);
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid rgba(219, 129, 97, 1);
  animation: flashig-border 1.1s step-end infinite,
  printed-text 4s steps(14);
}

@keyframes flashig-border{
  0%{
    border-color: rgba(219, 129, 97, 1);
  }
  50%{
    border-color: transparent;
  }
  100%{
    border-color: rgba(219, 129, 97, 1);
  }
}

@keyframes printed-text{
  from{
    width: 0;
  }
}

.socials-wrap{
  display: flex;
  padding-top: 6%;
}

.socials{
  padding-right: 1%;
}

img{
  max-width: 65%;
}

li{
  list-style-type: none;
}

@media (max-width: 1280px) {
  .text{
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0.03em;
  }
  .content-text{
    font-size: 20px;
  }
  .animated-text{
    font-size: 20px;
    border-right: 3px solid rgba(219, 129, 97, 1);
  }
}

@media (max-width: 768px) {
  .text{
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.02em;
  }
  .content-text{
    font-size: 15px;
  }
  .animated-text{
    font-size: 15px;
    border-right: 2px solid rgba(219, 129, 97, 1);
  }
  img{
    max-width: 40%;
  }
  .socials{
    padding-right: 0;
  }
}
@media (max-width: 580px) {
  .text-wrap{
    display: block;
  }
}

