<section class="content">
  <div class="wrap">
    <div class="part">

      <div class="content-title">
        <h2 class="text">Раскройте потенциал своих данных</h2>
      </div>

      <div class="content-container">

        <div class="about-company">
          <div class="text-wrap">
            <p class="content-text">собираем, анализируем,</p>
            <p class="animated-text"> создаем ценность</p>
          </div>
        </div>
      </div>



        <div class="socials-wrap">
          <li class="socials">
            <a class="socials-link" href="https://wa.me/79259917269?text=Привет!%20У%20меня%20есть%20интересный%20проект%20по%20анализу%20данных:%20">
              <img src="../../assets/whatsapp.svg">
            </a>
          </li>

          <li class="socials">
            <a class="socials-link" href="https://telegram.me/KiraLife17">
              <img src="../../assets/telegram.svg">
            </a>
          </li>

          <li class="socials">
            <a class="socials-link" href="https://www.instagram.com/proq.software/">
              <img src="../../assets/instagram.svg">
            </a>
          </li>

        </div>

      </div>




    </div>
</section>
