<section class="content">
  <div class="content-wrap">
    <div class="part">

      <div class="content-title">
        <h2 class="text"><a id="advantages"></a>Преимущества работы с нами</h2>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-sm-12" *ngFor="let advantage of advantages">
            <div class="img-wrap">
              <img class="img1" src="{{advantage.img}}">
            </div>
            <div class="text1-container">
              <p class="text1" *ngIf="advantage.description">{{advantage.description}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="advantages-cta">
        <p>Если вам не до конца понятны пути реализации бизнес-идеи - то именно нам можно поручить аналитику и
          разработку продукта. </p>
        <p>Мы в разумные сроки создадим надежное решение, которое позволит извлекать дополнительную прибыль. </p>
        <div class="btn-wrap">
          <button type="button" class="btn btn-outline-dark btn-text"><a href="#form">обсудить проект</a></button>
        </div>
      </div>

    </div>
  </div>
</section>

